* {
    -fx-primary-color: #337e6f;
    -fx-secondary-color: #33937F;
    -fx-base-primary-background:#353434;
    -fx-base-secondary-background: #237262;

    -fx-focus-color: -fx-secondary-color;
    -fx-primary-font-color: white;
    -fx-secondary-font-color: black;
}
