* {
    -fx-primary-color: #3FC7EB;
    -fx-secondary-color: #49c1e2;
    -fx-base-primary-background:#353434;
    -fx-base-secondary-background: #38b4d7;

    -fx-focus-color: -fx-secondary-color;
    -fx-primary-font-color: white;
    -fx-secondary-font-color: black;
}